<%- include('header.ejs') %>
<div>
    <h1>Enter your AWS credentials</h1>

      <form action="/enter_credentials" method="post">
        <div class="form-group">
          <label for="enter-key-id">AWS Access Key Id</label>
          <input type="text" class="form-control"  placeholder="Enter AWS Access Key Id" name="key_id" id="enter-key-id">
          
        </div>
        <div class="form-group">
          <label for="enter-key">AWS Secret access key</label>
          <input type="text" class="form-control"  placeholder="Enter AWS Secret Access Key" name="access_key" id="enter-key">
          
        </div>
        <div class="form-group">
          <label for="enter-token">AWS session token</label>
          <input type="text" class="form-control"  placeholder="Enter AWS Session Token" name="access_token" id="enter-token">
          
        </div>
        <div class="form-group">
          <label for="enter-alias">Bot Alias</label>
          <input type="text" class="form-control"  placeholder="Enter Amazon Lex Bot Alias" name="bot_alias" id="enter-alias">
          
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<%- include('footer.ejs') %>